* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/*Barra de navegacion*/
.navbar li {
  list-style: none;
  font-weight: 500;
}

.cart-link {
  color: #ba68c8 !important;
}

.cart-link:hover {
  color: #8e5399 !important;
}

.navbar img {
  margin-right: 10px;
}

.navbar p {
  margin: 0;
  padding: 0;
}

/*Secciones*/
.content {
  margin: 3vw 0 5vw 0;
}

.content > img {
  max-width: 25vw;
  display: block;
  margin: auto;
}

.content > h1 {
  font-size: 3vw;
  text-align: center;
}

section > h2 {
  background-color: #343a40;
  color: white;
  font-size: 2vw;
  padding: 1vw;
}

#cart > h2 {
  background-color: #ba68c8;
}

/*Textos descriptivos*/
.description-text {
  margin: 3vw 10vw 0 10vw;
}

.description-text > p {
  font-size: 1.8vw;
  text-align: center;
}

/*Tablas*/
table {
  width: 100%;
}

#product-card {
  display: block;
  border: none;
  text-align: center;
  align-items: center;
  font-size: 1.5vw;
}

#product-card h5 {
  font-size: 1.5vw;
}

#product-card img {
  width: 80%;
  max-width: 18vw;
}

#product-card a {
  background-color: #ba68c8;
  border: none;
  padding: 5px 20px;
  font-size: 1.5vw;
  text-transform: uppercase;
  font-weight: 500;
}

.buy-button::after:hover {
  background-color: #8e5399;
}

/*carrrito*/
#cart-table {
  margin: 0 2%;
  font-size: 1.5vw;
  max-width: 96%;
}

.center {
  text-align: center;
}

.total-row {
  background-color: #f1e1f4;
}
