* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

/*Barra de navegacion*/
nav {
  background-color: black;
  padding: 10px 15px;
  position: fixed;
  z-index: 100;
  width: 100%;
  /*overflow: hidden;*/
}

li {
  display: inline;
  float: left;
}

#brand {
  color: #ba68c8;
  font-size: 25px;
  /*display: inline;*/
}

#brand > img {
  width: 30px;
  float: left;
  padding: 3px 10px;
  /*margin: 0;*/
}

nav > li > a:hover {
  color: #ba68c8;
}

#nav-cart > a {
  color: #ba68c8;
  /*display: inline;*/
}

#cart-img {
  width: 30px;
  margin: 0 0 0 10px;
  float: right;
}

a {
  display: block;
  padding: 12px 16px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding: 6px 20px;
  float: right;
  /*margin: 0;*/
  /*overflow: hidden;*/
}

li a:hover {
  background-color: #ffffff;
  color: black;
  font-weight: 600;
}

/*home*/
#home {
  /*padding-top: 120px;*/
}

#home img {
  width: 30%;
  display: block;
}

#home h1 {
  text-align: center;
  font-size: 45px;
  margin: 30px;
}

#home p {
  text-align: center;
  font-size: 30px;
  margin: 30px;
}

/*secciones*/
section {
  padding-top: 80px;
}

.title-section {
  background-color: black;
  color: white;
  padding: 15px 40px;
  font-size: 35px;
}

section > p {
  text-align: center;
  font-size: 25px;
  margin: 30px 250px 0 250px;
}

section img {
  width: 30%;
  display: block;
  margin: auto;
}

/*productos*/
table {
  width: 100%;
}

tbody img {
  max-width: 350px;
}

form {
  text-align: center;
  margin: 30px;
}

form p {
  font-size: 25px;
}

.product-name {
  font-weight: bold;
}

form button {
  font-size: 25px;
  margin: 20px;
  background-color: #ba68c8;
  font-weight: 500;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 5px 50px;
}

/*contact*/
#contact-img {
  padding: 0;
}

/*carrito*/

#cart > h1 {
  background-color: #ba68c8;
}
